/* Estilização da tela de login */

body {
    font-family: Arial, sans-serif;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-logo {
    margin-top: 20px;
    text-align: center;
}

.login-logo img {
    width: 175px;
    height: 175px;
    margin-bottom: 1rem;

}

.login-container {
    background-color: #0A9494;
    padding: 20px;
    border-radius: 20px;
    box-shadow: white;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    margin-left: 1rem;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    color: white;
}

.email, .password {
    margin-left: 1rem;
}

#esc{
    margin-left: 1rem;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}


.checkbox input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 6px;
    margin-left: 1rem;
}

input[type="text"], input[type="password"] {
    width: calc(120% - 20%);    
    padding: 10px;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 1rem;
}

input[type="submit"] {
    background-color: #2958A0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 92%;
    margin-left: 1rem;


}
/* 
input[type="submit"]:hover {
    background-color: #555;
} */

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: left;
}

.checkbox input {
    margin-right: 10px;
}

p {
    font-size: 12px;
    color: #ffffff;
    text-align: justify;

}

.create-account {
    margin-top: 20px;
}

.create-account a {
    background-color: #ddd;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.create-account a:hover {
    background-color: #ccc;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

/* -------------------------------------------------------*/

/* Estilização da tela de criar conta */


.signup-container {
    background-color: #0A9494;
    padding: 15px;
    border-radius: 20px;
    box-shadow: white;
    width: 350px;
    text-align: center;
}

.note img {
    width: 15px; 
    height: 15px; 
    margin-top: 0.4rem;
}

.note{
    margin-top: 0.3rem;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 12px; 
}

.email, .password, .name , .note, .confirm-password{
    margin-left: 1rem;
}



input[type="submit"] {
    padding: 8px 15px; 
    font-size: 14px; 
}

input[type="text"],
input[type="password"] {
    width: 100%; 
    max-width: 300px; 
}

p {
    font-size: 12px; 
    text-align: justify;

}

h2 {
    font-size: 20px; 
}

label {
    font-size: 14px; 
}

span{
    font-size: 14px;
}
